@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(31, 23, 23, 0.952);
  background-color: #242424;
}

.bookmark:before {
  content: "";
  position: absolute;
  margin: -2px;
  margin-left: 5px;
  width: 15px;
  height: 18px;
  background-color: rgba(32, 131, 126, 0.952);

}


